
/* etiquetas */
html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background-color: rgba(207, 207, 207, 0.952);
}
main{
    font-size: 2rem;
}
h1{
    display: grid;
    justify-self: center;
    align-content: center;
    font-size: 5rem;
}
header{
    display: flex;
    justify-content: center;
    background-color: rgb(218, 99, 19);
    font-size: 3rem;
    
}
header > div{
  margin-right: 1rem;
  margin-left: 1rem;
}
header > div > a{
    font-size: 3rem;
}
a{
    color: black;
    font-style: oblique;
    
}

.proyecto{
    display: grid;
    grid-template-columns: auto;
    padding: 10%;
    background-color: aqua;
}




/* ids */

#teclas{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#listaToDo{
    display: grid;
    grid-template-columns: auto auto auto;
}
#hora{
    font-size: 5rem;
}
#tiempo{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 6rem;
}
#time-display {
    font-size: 48px;
    margin-bottom: 20px;
  }
#teclasContador > button{
    size: 2rem;
}
#timer{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    height: 3rem;
}
@media only screen and (max-width: 600px) {
    header > div > a{
        font-size: 2rem;
    };
    }
